/* Base styles for the document body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #bacde9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
}

/* Container styles */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

/* Form spacing */
form {
  margin-bottom: 20px;
}


/* Style for input fields and buttons */
input {
  border-radius: 5px;
  padding: 10px 25px;
  margin: 10px;
  margin-right: 5px;
}

#submit {
  background-color: #28a745;
  color: white;
  margin-right: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #218838;
}

#show-products {
  background-color: #007bff;
  color: white;
  padding: 10px 10px;
  margin-left: 40px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#show-products:hover {
  background-color: #0056b3;
}

#delete-selected {
  background-color: #007bff;
  color: white;
  padding: 10px 10px;
  margin-top: 30px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#delete-selected:hover {
  background-color: #0056b3;
}

/* Style for tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Style for cells */
th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Modal hidden by default */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  height: 50%;
  border-radius: 8px;
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  top: 10px; right: 20px;
  font-size: 24px;
  cursor: pointer;
}
